VITE_SUPABASE_URL=https://xuwlvgqgwgppwmxlnfik.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1d2x2Z3Fnd2dwcHdteGxuZmlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwNDExNjcsImV4cCI6MjEwMTYxNzE2N30.RMekFW5rsHg4h10AjM6i2o2hRqxfKRcynWhIgNGVNOk
